.btn{
  @include btn($remD5, $remD25, $remD8, $dark, $white);
  cursor: pointer;
  outline: none;
  &-primary{
    background-color: $primary;
  }
  &-sub{
    background-color: $sub;
  }
  &-top{
    @include position($position:fixed, $right:$rem1, $bottom:$rem1);
    z-index: 1000;
    width: $rem2;
    height: $rem2;
    transition: .5s;
    opacity: .5;
    &.hidden{
      opacity: 0;
      visibility: hidden;
    }
  }
}

$margin-sizes: 0, 5, 10, 15, 20, 25, 30;
$padding-sizes: 0, 5, 10, 15, 20, 25, 30;
@each $size in $margin-sizes {
  .m#{$size} {
    margin: $size*1px !important;
  }
  .mt#{$size} {
    margin-top: $size*1px !important;
  }
  .mr#{$size} {
    margin-right: $size*1px !important;
  }
  .mb#{$size} {
    margin-bottom: $size*1px !important;
  }
  .ml#{$size} {
    margin-left: $size*1px !important;
  }
}
@each $size in $padding-sizes {
  .p#{$size} {
    padding: $size*1px !important;
  }
  .pt#{$size} {
    padding-top: $size*1px !important;
  }
  .pr#{$size} {
    padding-right: $size*1px !important;
  }
  .pb#{$size} {
    padding-bottom: $size*1px !important;
  }
  .pl#{$size} {
    padding-left: $size*1px !important;
  }
}