@mixin font(
  $style: normal,
  $weight: normal,
  $size: 16px,
) {
  font: {
    style: $style;
    weight: $weight;
    size: $size;
    family: sans-serif;
  }
}

@mixin text-overflow() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// border
@mixin border($weight:1px, $style:solid, $color:#d6d6d6, $direction:all) {
  @if ( $direction == top ) {
    border-top: $weight $style $color
  } @else if ( $direction == right ) {
    border-right: $weight $style $color
  } @else if ( $direction == bottom ) {
    border-bottom: $weight $style $color
  } @else if ( $direction == left ) {
    border-left: $weight $style $color
  } @else if ( $direction == all ) {
    border: $weight $style $color
  }
}

// position
@mixin position($xy:'', $position:absolute, $top:initial, $right:initial, $bottom:initial, $left:initial) {
  z-index: 1;
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  @if ($xy=='x') {
    left: 50%;
    transform: translateX(-50%);
  }
  @else if ($xy=='y') {
    top: 50%;
    transform: translateY(-50%);
  }
  @else if ($xy=='xy') {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// flex
@mixin flex(){
  display: flex;
  align-items: center;
}
@mixin flexCenter(){
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flexSpaceBetweenCenter(){
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin flexSpaceBetween(){
  display: flex;
  justify-content: space-between;
}
@mixin flexWrap(){
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@mixin btn($padding, $radius, $font-size, $bg, $color){
  padding: $padding;
  border-radius: $radius;
  font-size: $font-size;
  background-color: $bg;
  color: $color;
  cursor: pointer;
}

@mixin sprite($w, $h, $bg-pos) {  
  width: $w;
  height: $h;
  background-position: $bg-pos;
}

// arrow
@mixin arrowRight($color, $weight) {
  content: '';
  display: inline-block;
  border-top: $weight solid transparent;
  border-bottom: $weight solid transparent;
  border-left: $weight solid $color;
  border-right: 0;
}
@mixin arrowTop($color, $weight) {
  content: '';
  display: inline-block;
  border-left: $weight solid transparent;
  border-right: $weight solid transparent;
  border-bottom: $weight solid $color;
  border-top: 0;
}
@mixin arrowLeft($color, $weight) {
  content: '';
  display: inline-block;
  border-top: $weight solid transparent;
  border-bottom: $weight solid transparent;
  border-right: $weight solid $color;
  border-left: 0;
}
@mixin arrowBottom($color, $weight) {
  content: '';
  display: inline-block;
  border-left: $weight solid transparent;
  border-right: $weight solid transparent;
  border-top: $weight solid $color;
  border-bottom: 0;
}