// color
$primary:#f26721;
$sub:#40b883;
$white:#fff;
$black:#000;
$transparent:transparent;
$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$light-orange: #fdede0;
$yellow: #ffc107;
$green: #28a745;
$light-green: #dff5e4;
$v-light-green: #eaf7ec;
$teal: #20c997;
$cyan: #17a2b8;
$gray: #6c757d;
$light-gray:#d4d4d4;
$gray-dark: #343a40;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;
$night: #011627;

// border
$border: 1px solid $light-gray;
$border-l: 2px solid $gray;

// size 
$top-nav-h: 60px;
$side-nav-w: 200px;
$remD25: .25rem;
$remD5: .5rem;
$remD6: .6rem;
$remD7: .7rem;
$remD8: 0.8rem;
$remD9: 0.9rem;
$rem1: 1rem;
$rem1D2: 1.2rem;
$rem1D5: 1.5rem;
$rem2: 2rem;
$rem3: 3rem;
